.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

*.swp
profile

DerivedData/

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

build/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

*.iml
jiayoubao-flutter/.gradle
jiayoubao-flutter/local.properties
jiayoubao-flutter/.idea/caches
jiayoubao-flutter/.idea/libraries
jiayoubao-flutter/.idea/modules.xml
jiayoubao-flutter/.idea/workspace.xml
jiayoubao-flutter/.idea/navEditor.xml
jiayoubao-flutter/.idea/assetWizardSettings.xml
jiayoubao-flutter/.DS_Store
jiayoubao-flutter/build
jiayoubao-flutter/captures
jiayoubao-flutter/.externalNativeBuild
jiayoubao-flutter/.cxx

